In [1]:
import pandas as pd

In [2]:
hce_bids = pd.read_csv('data/cash_flow_hce_bid.csv', index_col=0, parse_dates=True)

In [3]:
transformer_interval = pd.read_csv('data/cash_flow_transformer_interval.csv', index_col=0, parse_dates=True)

In [4]:
meter_interval = pd.read_csv('data/cash_flow_meter_interval.csv', index_col=0, parse_dates=True)

In [5]:
market_interval = pd.read_csv('data/cash_flow_market_interval.csv', index_col=0, parse_dates=True).iloc[:1]

In [6]:
start_times = list(market_interval["start_time"])
start_times

['2021-07-22T09:00:01']

In [7]:
p_clear = list(market_interval["p_clear"])
p_clear

[0.63]

### Sum all ((qmtp in TABLE meter_intervals for which p_bid <= p_clear))*p_clear

In [8]:
# meter_interval.loc[(meter_ineterval.p_bid <= )]
merge_meter_market_interval = meter_interval.merge(market_interval, on="start_time", how="left")

In [9]:
x = merge_meter_market_interval.loc[merge_meter_market_interval.p_bid <= merge_meter_market_interval.p_clear]

In [10]:
x["payments_to_pv_owner"] = x["p_clear"]*x["q_bid"]

/var/folders/tp/xzkt258d77dgg1hgjm1bkb6x_vqyb8/T/ipykernel_70523/2657359622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["payments_to_pv_owner"] = x["p_clear"]*x["q_bid"]

In [11]:
payments_to_pv_owners = x.groupby("start_time")["payments_to_pv_owner"].sum()
payments_to_pv_owners

start_time
2021-07-22T09:00:01    0.24885
Name: payments_to_pv_owner, dtype: float64

###  (q from TABLE transformer_intervals at start_time == t) * (p_bid in TABLE hce_bids at start_time == t)
### Use p_bid for which is_supply = 1 if q >= 0
### Use p_bid for which is_supply = 0 if q < 0

Cash Flow:

Y-axis: at each t:

Select p_clear from market_intervals with start_time == t

Calculate payments to PV owners: Sum all ((qmtp in TABLE meter_intervals for which p_bid <= p_clear))*p_clear

Calculate import costs: (q from TABLE transformer_intervals at start_time == t) * (p_bid in TABLE hce_bids at start_time == t)

 - Use p_bid for which is_supply = 1 if q >= 0

 - Use p_bid for which is_supply = 0 if q < 0

Calculate retail income (inelastic load): (unresp_load from TABLE transformer_intervals at start_time == t) * fixed_retail_rate

THEN: retail income MINUS import costs MINUS payments to PV owners â†’ THIS IS WHAT GETS PLOTTED

X-axis: time last 24 hours

In [12]:
merge_transformer_market_interval = transformer_interval.merge(market_interval, on="start_time", how="left")

In [13]:
merge_transformer_market_interval

,import_capacity,export_capacity,q,transformer_interval_id,start_time,end_time_x,unresp_load,transformer_id,market_interval_id,q_clear,p_exp,p_clear,p_dev,end_time_y,alpha,market_id
0,1072.480,536.240,0.000,1,2021-09-22T09:00:00,2021-09-22T09:05:00,0.00000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,992.420,496.210,2.489,2,2021-09-22T09:05:00,2021-09-22T09:10:00,2.48900,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,903.476,451.738,2.282,3,2021-09-22T09:10:00,2021-09-22T09:15:00,4.33310,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,928.459,464.230,2.193,4,2021-09-22T09:15:00,2021-09-22T09:20:00,4.34442,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1087.300,543.650,2.109,5,2021-09-22T09:20:00,2021-09-22T09:25:00,4.35487,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,937.218,468.609,2.031,6,2021-09-22T09:25:00,2021-09-22T09:30:00,4.36520,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1083.360,541.680,1.959,7,2021-09-22T09:30:00,2021-09-22T09:35:00,4.37520,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,987.842,493.921,1.894,8,2021-09-22T09:35:00,2021-09-22T09:40:00,4.38565,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,955.111,477.555,1.835,9,2021-09-22T09:40:00,2021-09-22T09:45:00,4.39536,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1035.550,517.776,4.438,10,2021-09-22T09:45:00,2021-09-22T09:50:00,7.06013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,916.269,458.134,1.738,11,2021-09-22T09:50:00,2021-09-22T09:55:00,4.41501,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,937.104,468.552,1.700,12,2021-09-22T09:55:00,2021-09-22T10:00:00,4.42426,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,912.058,456.029,4.300,13,2021-09-22T10:00:00,2021-09-22T10:05:00,7.06405,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,949.555,474.778,1.692,14,2021-09-22T10:05:00,2021-09-22T10:10:00,4.48837,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,987.546,493.773,1.725,15,2021-09-22T10:10:00,2021-09-22T10:15:00,4.49802,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1058.420,529.212,1.755,16,2021-09-22T10:15:00,2021-09-22T10:20:00,4.49372,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1088.190,544.095,4.404,17,2021-09-22T10:20:00,2021-09-22T10:25:00,7.11060,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1009.720,504.859,1.810,18,2021-09-22T10:25:00,2021-09-22T10:30:00,4.48683,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1022.820,511.410,1.747,19,2021-09-22T10:30:00,2021-09-22T10:35:00,4.39657,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,929.828,464.914,4.379,20,2021-09-22T10:35:00,2021-09-22T10:40:00,7.09481,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1087.670,543.836,1.781,21,2021-09-22T10:40:00,2021-09-22T10:45:00,4.47741,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,976.282,488.141,1.793,22,2021-09-22T10:45:00,2021-09-22T10:50:00,4.47290,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1088.640,544.322,4.310,23,2021-09-22T10:50:00,2021-09-22T10:55:00,6.97646,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1075.290,537.647,1.706,24,2021-09-22T10:55:00,2021-09-22T11:00:00,4.46893,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,910.686,455.343,1.707,25,2021-09-22T11:00:00,2021-09-22T11:05:00,4.46538,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,913.023,456.511,6.908,26,2021-09-22T11:05:00,2021-09-22T11:10:00,9.66517,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1018.020,509.008,6.878,27,2021-09-22T11:10:00,2021-09-22T11:15:00,9.65992,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1078.440,539.219,1.647,28,2021-09-22T11:15:00,2021-09-22T11:20:00,4.45838,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,938.493,469.247,9.422,29,2021-09-22T11:20:00,2021-09-22T11:25:00,12.26140,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,989.230,494.615,4.196,30,2021-09-22T11:25:00,2021-09-22T11:30:00,7.06205,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,971.860,485.930,1.575,31,2021-09-22T11:30:00,2021-09-22T11:35:00,4.46635,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,972.766,486.383,4.149,32,2021-09-22T11:35:00,2021-09-22T11:40:00,7.06422,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1066.280,533.140,4.126,33,2021-09-22T11:40:00,2021-09-22T11:45:00,7.06375,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1082.200,541.102,1.515,34,2021-09-22T11:45:00,2021-09-22T11:50:00,4.47390,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1053.420,526.708,4.085,35,2021-09-22T11:50:00,2021-09-22T11:55:00,7.06369,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1041.220,520.609,4.066,36,2021-09-22T11:55:00,2021-09-22T12:00:00,7.06312,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1099.710,549.856,6.631,37,2021-09-22T12:00:00,2021-09-22T12:05:00,9.64519,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,3.200,NaN,0.030,42,2021-09-28T23:35:00,2021-09-28T23:40:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3.200,NaN,-0.011,43,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,3.200,NaN,-0.011,44,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,3.200,NaN,-0.011,45,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,3.200,NaN,-0.011,46,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,3.200,NaN,-0.011,47,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,3.200,NaN,-0.011,48,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,3.200,NaN,-0.011,49,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3.200,NaN,-0.011,50,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,3.200,NaN,-0.011,52,2021-09-28T20:40:00,2021-09-28T20:45:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,4.520,NaN,0.029,53,2021-09-28T23:45:00,2021-09-28T23:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,4.530,NaN,0.029,54,2021-09-28T23:45:00,2021-09-28T23:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,4.530,NaN,0.029,55,2021-09-28T23:45:00,2021-09-28T23:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,4.530,NaN,0.029,56,2021-09-28T23:45:00,2021-09-28T23:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,4.530,NaN,0.029,57,2021-09-28T23:45:00,2021-09-28T23:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,4.530,NaN,0.029,58,2021-09-28T23:45:00,2021-09-28T23:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,43.900,NaN,0.029,59,2021-09-28T23:45:00,2021-09-28T23:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,43.900,NaN,6.743,60,2021-09-29T08:45:00,2021-09-29T08:50:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,43.900,NaN,6.787,61,2021-09-29T08:50:00,2021-09-29T08:55:00,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN