In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/meter_intervals.csv', index_col=0, parse_dates=True)

In [3]:
hundred_percent = 24000.0

In [4]:
data

,is_bid,qmtp,p_bid,meter_id,start_time,end_time,mode_dispatch,q_bid,meter_interval_id,mode_market,rate_id,e
0,True,0.0,0.0,2,2021-09-29T22:45:00,2021-09-29T22:50:00,1.0,0.0,1722,1.0,1,0.0
1,True,0.0,0.0,3,2021-09-29T22:45:00,2021-09-29T22:50:00,1.0,0.0,1723,1.0,1,0.0
2,True,0.0,0.0,4,2021-09-29T22:45:00,2021-09-29T22:50:00,1.0,0.0,1724,1.0,1,0.0
3,True,0.0,0.0,5,2021-09-29T22:45:00,2021-09-29T22:50:00,1.0,0.0,1725,1.0,1,0.0
4,True,0.0,0.0,6,2021-09-29T22:45:00,2021-09-29T22:50:00,1.0,0.0,1726,1.0,1,0.0
5,True,0.0,0.0,1,2021-09-29T22:45:00,2021-09-29T22:50:00,1.0,0.0,1820,1.0,1,0.0

## Available resources

In [5]:
available_resources = data["q_bid"].sum()
available_resources

0.0

## Unavailable resources

In [6]:
unavailable_resources = hundred_percent - available_resources
unavailable_resources

24000.0

## Dispatched Resources

In [7]:
price = 0.11
cleared_bids = data.loc[data.p_bid <= price]
dispatched_resources = cleared_bids["q_bid"].sum()
dispatched_resources

0.0

In [8]:
# data.groupby("start_time").sum()["q_bid"][-1]

In [9]:
# data.groupby("start_time").sum()["q_bid"]

In [10]:
# data.loc[data.start_time == "2021-09-23T07:34:02"]

In [11]:
# data["qmtp"].sum()

In [12]:
# market_interval = pd.read_csv('data/power_market_intervals.csv', index_col=0, parse_dates=True)
# latest_market_interval = market_interval["start_time"].iloc[-1]
# latest_market_interval