In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('210929_tess_5min_24h/meter_intervals.csv', index_col=0, parse_dates=True)
pvs = pd.read_csv('210929_tess_5min_24h/pvs.csv', index_col=0, parse_dates=True)
pvs

,home_hub_id,meter_id,q_rated,is_active,is_archived,updated_at,created_at
pv_id,,,,,,,
1,1,1,4000,1,0,2021-07-22 12:22:06,2021-07-20 21:59:37
2,2,2,4000,1,0,2021-07-22 12:22:06,2021-07-20 21:59:37
3,3,3,4000,1,0,2021-07-22 12:22:06,2021-07-20 21:59:37
4,4,4,4000,1,0,2021-07-22 12:22:06,2021-07-20 21:59:37
5,5,5,4000,1,0,2021-07-22 12:22:06,2021-07-20 21:59:37
6,6,6,4000,1,0,2021-07-22 12:22:06,2021-07-20 21:59:37

In [17]:
hundred_percent = pvs["q_rated"].sum()/1000

In [4]:
data

,meter_id,rate_id,start_time,end_time,e,qmtp,p_bid,q_bid,is_bid,mode_dispatch,mode_market
meter_interval_id,,,,,,,,,,,
1,1,1,2021-09-22 00:00:00,2021-09-22 00:05:00,0.0,0.0,0,0.0,1,1,1
2,2,1,2021-09-22 00:00:00,2021-09-22 00:05:00,0.0,0.0,0,0.0,1,1,1
3,3,1,2021-09-22 00:00:00,2021-09-22 00:05:00,0.0,0.0,0,0.0,1,1,1
4,4,1,2021-09-22 00:00:00,2021-09-22 00:05:00,0.0,0.0,0,0.0,1,1,1
5,5,1,2021-09-22 00:00:00,2021-09-22 00:05:00,0.0,0.0,0,0.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1722,2,1,2021-09-23 00:00:00,2021-09-23 00:05:00,0.0,0.0,0,0.0,1,1,1
1723,3,1,2021-09-23 00:00:00,2021-09-23 00:05:00,0.0,0.0,0,0.0,1,1,1
1724,4,1,2021-09-23 00:00:00,2021-09-23 00:05:00,0.0,0.0,0,0.0,1,1,1
1725,5,1,2021-09-23 00:00:00,2021-09-23 00:05:00,0.0,0.0,0,0.0,1,1,1
1726,6,1,2021-09-23 00:00:00,2021-09-23 00:05:00,0.0,0.0,0,0.0,1,1,1

## Available resources

In [18]:
data_t = data.loc[data["start_time"] == "2021-09-22 13:05:00"]
data_t

,meter_id,rate_id,start_time,end_time,e,qmtp,p_bid,q_bid,is_bid,mode_dispatch,mode_market
meter_interval_id,,,,,,,,,,,
943,1,1,2021-09-22 13:05:00,2021-09-22 13:10:00,0.034909,0.418908,0,0.418908,1,1,1
944,2,1,2021-09-22 13:05:00,2021-09-22 13:10:00,0.044717,0.536607,0,0.536607,1,1,1
945,3,1,2021-09-22 13:05:00,2021-09-22 13:10:00,0.043646,0.523747,0,0.523747,1,1,1
946,4,1,2021-09-22 13:05:00,2021-09-22 13:10:00,0.040981,0.491768,0,0.491768,1,1,1
947,5,1,2021-09-22 13:05:00,2021-09-22 13:10:00,0.048928,0.587132,0,0.587132,1,1,1
948,6,1,2021-09-22 13:05:00,2021-09-22 13:10:00,0.045843,0.550114,0,0.550114,1,1,1

In [19]:
available_resources = data_t["q_bid"].sum()
available_resources

3.108276

## Unavailable resources

In [20]:
unavailable_resources = hundred_percent - available_resources
unavailable_resources

20.891724

## Dispatched Resources

In [23]:
price = 0.11
cleared_bids = data_t.loc[data_t.p_bid <= price]
dispatched_resources = cleared_bids["q_bid"].sum()
dispatched_resources = 2

In [8]:
# data.groupby("start_time").sum()["q_bid"][-1]

In [9]:
# data.groupby("start_time").sum()["q_bid"]

In [10]:
# data.loc[data.start_time == "2021-09-23T07:34:02"]

In [11]:
# data["qmtp"].sum()

In [12]:
# market_interval = pd.read_csv('data/power_market_intervals.csv', index_col=0, parse_dates=True)
# latest_market_interval = market_interval["start_time"].iloc[-1]
# latest_market_interval